@media screen and (max-width: 580px) {

    img {
        max-width: 300px;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 10px;
        min-height: 300px;
    }
    .card580px{
        max-width: 380px; 
        margin-left: auto; 
        margin-right: auto;
        padding: 8px;
    }
    .home{
        font-size: medium;
    }
  }

@media screen and (max-width: 770px) {

    .card770px{
        /* max-width: 380px;  */
        margin-left: auto; 
        margin-right: auto;
        padding: 8px;
    }
}

body{
    background-image: url(./img//R.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blanco{
    background-color: white;
    border-radius: 30px;
}

.anchoMin200px{
    min-width: 200px;
}